@using VitaCore.Data
@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1a237e">
    <title>@ViewData["Title"] - VitaCore</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/loginRegister.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/patient-dashboard.css" />
    <link rel="stylesheet" href="~/css/patient-form.css" />
    <link rel="stylesheet" href="~/css/home.css" /> 
    <link rel="stylesheet" href="~/css/admin-dashboard.css" />
    <link rel="stylesheet" href="~/css/complete-profile.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom fixed-top mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="VitaCore Logo" class="logo-img">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mx-auto gap-4">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                    Hello, @User.Identity.Name!
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form asp-controller="Account" asp-action="Logout" method="post">
                                            <button type="submit" class="dropdown-item">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                                </li>
                            }
                            @if (User.IsInRole("Patient"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Patients" asp-action="Index"> My Dashboard </a>
                                </li>
                            }
                            @if (User.IsInRole("Doctor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Doctors" asp-action="Index">My Dashboard</a>
                                </li>
                            }

                            @await Component.InvokeAsync("InboxNav")

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="container-fluid px-0">
        <main role="main" class="pb-3 mt-navbar">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - VitaCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.getElementById('loginBtn')?.addEventListener('click', function () {
            document.querySelector('.wrapper')?.classList.remove('active');
        });

        document.getElementById('registerBtn')?.addEventListener('click', function () {
            document.querySelector('.wrapper')?.classList.add('active');
        });
        
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
